/*  */



/* ---------------- */ 
.callToAction-btn {
    font-family: inherit;
    font-size: 20px;
    background: #00bcf06c;
    color: white;
    padding: .5rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.callToAction-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.callToAction-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.callToAction-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.callToAction-btn:hover svg {
    transform: translateX(2.5em) rotate(45deg) scale(1.1);
}

.callToAction-btn:hover span {
    transform: translateX(15em);
}

.callToAction-btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
    transform: translateY(0.1em);
    }

    to {
    transform: translateY(-0.1em);
    }
}

/* --------------- */



  