@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;  
}
  
body{
    background-color: black;
}

.test-colors-pallete{
    color:#000203c5;
    color:#021b27;
    color:#021b2771;
}