@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;  
    background: #000;
}

.test-colors-pallete{
    color: #000000;
    color: #04021f;
    color: #040408;
    color: #020113;
    color: #010204 ;

}



  